<% layout('layouts/boilerplate')%>

    <div class="row">
        <h1 class="text-center">Options Available</h1>
        <div class="col-md-6 offset-md-3">
            <ul>
                <li> <a href="/create">Endpoint that can create a repo with the name provided by the user</a><br></li>
                <li><a href="/repo_list">Endpoint that can list all Repos of a User</a><br></li>
                <li> <a href="/contri_list">Endpoint for listing all contributors and stargazers of a repository</a><br></li>
                <li> <a href="/list_topic">Listing all topics of a Repository</a><br></li>
                <li><a href="/update_topic">Endpoint for updating repo topics</a><br>
                <li><a href="/delete_topic">Endpoint for deleting repo topics</a><br></li>
                <li><a href="/count">Endpoint to list all the repos of a given user with > 5 stars and > 5 forks</a><br></li>
                
            </ul>
           
        </div>
    </div>